html{
    /* background-image: url('https://i.postimg.cc/QtNMwDC9/coding.jpg'); */
    font-family:  Arial, Helvetica, sans-serif;
}
.resume_main, .resume_i, .title-name, #home{

    /* background-image: url('https://i.postimg.cc/QtNMwDC9/coding.jpg'); */
    background-repeat: initial;

}
.logo{
    font-size: 34px;
}
.experience_list{
    margin-bottom: 20px;
    border-style: outset;
    background-color: rgb(29, 22, 22);
    margin-left: 200px;
    margin-right: 200px;
  
}
p.list_item{
    margin-bottom: 10px;
}

.experience_list :hover{
    background-color: white;
    color: black;
}
.name{
    font-family: 'Old Standard TT';
    margin-left: 20px;
    padding: 0px;
    padding-top: 15px;
    text-align: center;
    color: black;
}
.nav-ul li{
    padding:20px;
    margin: 35px;
    display: inline;
    font-family: 'Old Standard TT';
    font-size: 14px;
 

}
.list_item{
    margin-bottom: 5px;
}
li.nav-li a{
    padding: 13px;
    color: black;
    text-decoration: underline;
}
.regular{
    margin-left:55px;
    margin-right: 55px;
    margin-bottom: 55px;
}
.nav-ul{
    /* border-radius:5px;
    border-style: solid;
    border-top: black;
    border-bottom: black; */
}

.service_header{
    text-align: center;
    margin-left: 32px;
    text-decoration: underline;
}
.nav-ul li :hover{

}
div #nav-menu{
    background-color: rgba(12, 12, 12, 0);
    padding:3px;
    margin:0px;
}

.sub_name, .contact_links{
    text-align: center;
    color: black;
}

.sub_name{
    margin-top: 0px;
    margin-left: 32px;

}

.about{
    margin:50px;
    margin-top: 10px;
    border-style: outset;
    color: white;opacity:0.9;
    background-color: rgb(46, 46, 46);opacity:0.9;

    padding: 20px;

}
.expertise{
    margin:50px;
    text-align: center;
    border-style: outset;
    background-color: rgb(46, 46, 46);opacity:0.9;


    color:white;
}
.items{
    list-style-type: none;
    color: white;
}

.experince{
    margin:50px;
    border-style: outset;
    background-color: rgb(46, 46, 46);opacity:0.9;

    color:white;

}
.education{
    margin:50px;
    border-style: outset;
    background-color: rgb(46, 46, 46);opacity:0.9;

    text-align: center;
    color:white;


}
.projects{
    margin:50px;
    border-style: outset; 
    color:white;
    background-color: rgb(46, 46, 46);opacity:0.9;

    display: flex;
    padding:20px;

}
div.ui.card{
    margin: 38px;
}
div.ui.card :hover{
    background-color: white;opacity: none;

}
.text{
    color: black;
}
.services{
    margin:50px;
    border-style: outset; 
    color: white;
    background-color: rgb(46, 46, 46);opacity:0.9;


}
.big_items{
    list-style-type: none;

}


h2#header{
    text-align: center;
    margin-left: 32px;
    text-decoration: underline;


}
.sub_header{
    margin-left: 32px;
    text-decoration: underline;

}
.service_item{
 text-align: center;
}
.social_header{
text-align: center;
}